.blog-content {
    font-family: "Source Sans 3";

    width: 60%;
    margin: auto;
    color: white;
    font-size: 20px;
}

.blog-content a {
    color: yellow;
    text-decoration: none;
}

#lang {
    right: 0;
    left: 100%;
    transform: translateX(-100%);
    position: relative;
    border-radius: 5px;
}