.header {
    top: 0;
    left: 0;

    padding: 0 20px;

    display: flex;
    justify-content: space-between;

    height: 70px;

    background-color:rgb(56, 55, 55);

    border-bottom: 2px gray solid;
}

.logo {
    display: flex;
    align-items: center;
}

.page-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.page-button {
    margin-left: 20px;
    padding: 5px;
    text-decoration: none;
    width: 32px;
    height: 32px;

    display: flex;
}

.page-button:hover {
    cursor: pointer;

    /* the filter below is gotten from https://angel-rs.github.io/css-color-filter-generator/ */
    filter: brightness(0) saturate(100%) invert(29%) sepia(58%) saturate(4106%) hue-rotate(205deg) brightness(99%) contrast(109%);
}