.japanese-main {
    height: calc(100vh - 72px);
    width: fit-content;
    margin: auto;
}

.japanese-main p {
    color: white;
    font-size: 100px;

    width: fit-content;
    margin: auto;
}

.choice-row button {
    width: 125px;
    height: 125px;
    margin: 20px;
    
    font-size: 50px;

    border-radius: 5px;
    border: 2px black solid;

    cursor: pointer;
}

.choice-row button:hover:not(.wrong-ans, .right-ans) {
    background-color: white;
}

.ans {
    background-color: darkgray;
}

.wrong-ans {
    background-color: red;
}

.right-ans {
    background-color: #66FF00;
}

.question-container {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alphabet-button {
    font-family: "Varela Round";

    height: fit-content;
    width: 200px;

    border: 1px black solid;
    border-radius: 5px;
    background-color: darkgray;
    font-size: 25px;
    padding: 5px;

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.alphabet-button:hover {
    background-color: white;
}

.alphabet-dialog {
    height: 75%;
    width: 75%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: darkgrey;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 15px;

    overflow-y: scroll;
    scrollbar-width: none;
}

.alphabet-row {
    width: 80%;
    display: flex;
    justify-content: space-between;

    margin: auto;
}

.alphabet-image {
    width: 125px;
    margin: 20px;

    border: 4px black solid;
    border-radius: 10px;
    background-color: white;

    transition: transform .2s;
}

.alphabet-image:hover {
    background-color: cyan;
    transform: scale(1.25);
}

.alphabet-select {
    position: relative;
    border-radius: 5px;
}