:root {
    --left-panel-size: 17.5%;
}

.rubiks-main {
    display: flex;
    /* color: white; */

    min-height: calc(100vh - 72px);
    overflow: hidden;

    animation: fade-in .4s ease forwards;
}

.rubiks-main * {
    scrollbar-width: 10px;
}

.left-panel {
    width: var(--left-panel-size);
    border-right: 1px white solid;
}

.scramble {
    font-family: "Source Sans 3";
    color: white;

    position: relative;
    width: fit-content;
    margin: auto;

    padding: 0 40px;

    font-size: larger;
    text-align: justify;
}

.time-container {
    width: 85%;
    /* text-align: center; */
}

.timer-wrapper {
    position: absolute;
    left: calc(var(--left-panel-size) + (100% - var(--left-panel-size)) / 2);
    top: calc(50% + 72px);
    text-align: center;
    
    transform: translate(-50%, -50%);
}

.time {
    font-family: "lcd";
    font-size: 10vw;

    width: fit-content;
    margin: auto;

    color: white;
}
.holding {
    --percent: 0%;
    background-image: linear-gradient(to right, red var(--percent), white calc(100% - var(--percent)));
    background-clip: text;
}
.timing {
    color: rgba(0, 0, 0, 0);
    background-image: repeating-linear-gradient(to right, violet, cyan, violet);
    background-clip: text;
    transition: 0.4s;

    animation: running-gradient 1000ms linear infinite reverse;
}

.ao5, .ao12 {
    font-family: "Source Sans 3";
    color: white;

    margin: 0;
    padding: 0;
    font-size: 2.5vw;
}

.scramble-settings {
    max-width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#scramble-image {
    position: absolute;
    right: 0;
    bottom: 0;

    height: 30%; /* actual scramble image height */
}

.auth-button {
    font-family: "Varela Round";

    height: 40px;
    width: 80px;
    border: 1px black solid;
    border-radius: 5px;
    display: block;
    margin: 20px auto 10px auto;

    background-color: darkgray;
}

.solve-list {
    color: white;
    font-family: "Source sans 3";
    font-weight: 500;

    margin: 10px auto;
    padding: 0 10px 0 5px;

    overflow-y: scroll;
    height: calc(100vh - 120px);

    direction: rtl;
}

.solve-list * {
    direction: ltr;
}

.solve-list-header {
    top: 0;
    position: sticky;
    margin: 0 0 5px 0;
    padding: 0 5px;
    background-color: black;

    font-size: 1em;
}
.solve-list-header span {
    display: inline-block;
    width: 30%;
    text-align: center;
}
.solve-list-header span:nth-of-type(1) {
    width: 10%;
}

.solve, .solve-list-header {
    display: flex;
    justify-content: space-between;

    z-index: 2;
}

.solve-list li {
    background-color: rgb(45, 45, 45);
    margin: 5px 0;
    padding: 0 5px;

    transition: .2s;
}

.solve-list li:hover {
    background-color: lightgray;
    color: black;
}

.solve-list li span {
    pointer-events: none;
    display: inline-block;
    text-align: center;
    width: 30%;

    font-size: 0.9em;
}

.solve-list li span:nth-of-type(1) {
    width: 10%;
}

.solve-info-card {
    position: absolute;
    left: var(--left-panel-size);
    bottom: 6.5px;    

    background-color: black;
    
    color: white;

    width: 25%;

    border: 1px lightgray solid;
    border-radius: 5px;

    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);

    animation: fade-in .2s ease forwards;
}

.solve-info-card p:nth-of-type(1) {
    margin: 0;
    padding: 0;

    font-size: 25px;
    color: yellow;
    
    margin: auto;
    width: fit-content;
}

.solve-info-card p:nth-of-type(2) {
    margin: 0;
    padding: 5px;

    text-align: justify;
}

.solve-info-card div {
    height: 200px; /* actual height of hover div's scramble image */
    margin: 10px auto 10px auto;
    width: fit-content;
}